# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.DottApp.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\CTransData\ProjFIles\Sharp\DottApp\DottApp\.idea\.idea.DottApp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
